<!DOCTYPE html>
<html>
<head>
  <title>API- Index</title>
  <link rel="stylesheet" href="../styles/style.css">
 </head>

<body>
  <a href="/user/new" id = "create">Create account</a>
  <h1>API IN THE SKY— Jobs and Benefits</h1>
  <p>This API allows developers to leverage data on NYC's open jobs and ongoing programs and benefits.</p>
  <p>The parameters that can be searched through for open jobs are:</p>
  <ul>
    <li>Title: name of the job (ex: manager, aide, assistant, engineer, etc)</li>
    <li>Agency: government agency that posted the job (ex: NYCHA, Department of Health, etc)</li>
    <li>Category: type of job (ex: Finance, Accounting, & Procurement;Engineering, Architecture, & Planning; Adminstrative Support)</li>
    <li>Time: part or full time</li>
    <li>Location: where the job is (ex: specific adresses, boroughs)</li>
  </ul>
  
  <p>The parameters that can be searched through for ongoing programs and benefits are:</p>
  <ul>
    <li>Name: name of the job (ex: manager, aide, assistant, engineer, etc)</li>
    <li>Type: program, service, benefit, or resouce</li>
    <li>Category: the types can be broken down into categories (ex: education, work, food, etc)</li>
    <li>Population Served: a group of people the program helps (ex: everyone, veterans, youth, children, seniors, families, etc)</li>
    <li>Description: brief description of program/benefit</li>
  </ul>
</body>

</html>
